<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Circles</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">YakRank</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">YakRank</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here --></div>
  </main>
  <body>
    <div id="map"></div>
    <script type=text/javascript src="{{ url_for('static', filename='data.json') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>

       /*$(document).ready(function() {
            var request = $.ajax({
            type: "GET",
            url: "{{ url_for('static', filename='data.json') }}",
            data: {"name":""}, // if you wanted to specifiy what list then pass an actual name
            dataType: "json"
        });
        request.done(function(JSON_array) {
          array_data = JSON.parse(JSON_array)["array"]
        //from here you have your array to play with
        });
      });*/
    </script>
    <script>
      // This example creates circles on the map, representing readabilitys in North
      // America.
      var array_data
      $.get("{{ url_for('static', filename='data.json') }}", function( data ) {
        console.log(data)
        array_data = data
      }, "json");
      // First, create an object containing LatLng and readability for each location.
      var locationmap = {
        chicago: {
          center: {lat: 41.878, lng: -87.629},
          readability: 2,
          name: 'University of Chicago'
        },
        newyork: {
          center: {lat: 40.714, lng: -74.005},
          readability: 8,
          name: 'University of Chicago'
        },
        losangeles: {
          center: {lat: 34.052, lng: -118.243},
          readability: 3,
          name: 'University of Chicago'
        },
        vancouver: {
          center: {lat: 49.25, lng: -123.1},
          readability: 6,
          name: 'University of Chicago'
        }
      };
      //var script = document.createElement('script'); 
      //script.src = 'http://localhost:5000/static/data.json';
      console.log(array_data) 
      function initMap() {
        // Create the map.
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 37.090, lng: -95.712},
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
 

 
        // Construct the circle for each value in locationmap.
        // Note: We scale the area of the circle based on the readability.
        for (var location in locationmap) {
          // Add the circle for this location to the map.
          var locationCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpalocation: 0.8,
            strokeWeight: 2,
            clickable: true,
            fillColor: '#FF0000',
            fillOpalocation: 0.35,
            map: map,
            position: locationmap[location].center,
            center: locationmap[location].center,
            radius: Math.sqrt(6) * 100000
          });
            var contentString = "<h4>"+ locationmap[location].name+ "<h4/>"+ "<h5>Grade Level of Yaks: "+ locationmap[location].readability + "</h5>";
            google.maps.event.addListener(locationCircle, 'click', (function(locationCircle, location) {
        return function() {
            infoWindow.setContent(contentString);
            infoWindow.setPosition(locationCircle.center);
            infoWindow.open(map);
        }
      })(locationCircle, location));
        }
		
      }
		
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!--<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYJ6Eo7VHm59DW2f6VAzpHh3ppNwR5S-Q&signed_in=true&callback=initMap">
    </script>
  </body>
</div>
</html>